services:
  database:
    image: postgres:12
    restart: always
    environment:
      POSTGRES_PASSWORD: kittycatcat
      POSTGRES_USER: cat
      POSTGRES_DB: caats
      TZ: Europe/Warsaw
  app:
    image: ghcr.io/kpostekk/caats:latest-app
    build:
      target: app
      dockerfile: Dockerfile
      context: .
      args:
        GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
    restart: always
    environment:
      TZ: Europe/Warsaw
      NEST_ADDR: nest:3000
    depends_on:
      - database
  nest:
    image: ghcr.io/kpostekk/caats:latest
    build:
      target: nest
      dockerfile: Dockerfile
      context: .
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://cat:kittycatcat@database/caats
      TZ: Europe/Warsaw
    depends_on:
      - database
  nest-migrate:
    image: ghcr.io/kpostekk/caats:latest
    command: 'pnpm prisma migrate deploy'
    environment:
      DATABASE_URL: postgres://cat:kittycatcat@database/caats
    depends_on:
      - database
  scrapy:
    image: ghcr.io/kpostekk/caats:latest-scrapy
    build:
      target: scraper
      dockerfile: Dockerfile
      context: .
    restart: always
    depends_on:
      - app
    environment:
      NEST_GRAPHQL: http://192.168.1.171:3000/graphql
      SCRAPY_RATE: 30
      TZ: Europe/Warsaw
      TOKEN: ${SCRAPY_TOKEN}
  meilisearch:
    image: getmeili/meilisearch:latest
    restart: always
    environment:
      MEILI_MASTER_KEY: meilimk_catz_ily!
    ports:
      - 7700:7700
    volumes:
      - meilisearch-data:/meili_data

volumes:
  meilisearch-data:
